.red-3d-button-wrapper button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.red-3d-button-wrapper button:disabled {
  cursor: not-allowed;
  filter: grayscale(100%) brightness(70%);
}

.red-3d-button-wrapper .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.red-3d-button-wrapper .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.red-3d-button-wrapper .front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.red-3d-button-wrapper button:hover:not(:disabled) {
  filter: brightness(110%);
}

.red-3d-button-wrapper button:hover:not(:disabled) .front {
  transform: translateY(-6px);
  transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.red-3d-button-wrapper button:active:not(:disabled) .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.red-3d-button-wrapper button:hover:not(:disabled) .shadow {
  transform: translateY(4px);
  transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.red-3d-button-wrapper button:active:not(:disabled) .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.red-3d-button-wrapper button:focus:not(:focus-visible) {
  outline: none;
}